<form>
  <div class="mb-3 mt-4">
    <label for="search-control" class="form-label">Tim Kiem</label>
    <input type="text" class="form-control" placeholder="Nhap tim kiem" >
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>